{% extends "layout.html" %}
{% block content %}

<div class="bg">
	<div class="logo">You like a band. <br>And another one. <br> And you need to travel to see 'em all!</div>
	<div class="wrap">
    	<form method="POST">     
		<div class="search">         
        		<input type="text" class="searchTerm" placeholder="What are you looking for?" name="artist1">
           		<button type="submit" class="searchButton">
               	    		<i class="fa fa-search"></i>
   			</button>
                </div>
	</form>		
	<br>
	<form class="POST">		
 		<div class="search">
        		<input type="text" class="searchTerm" placeholder="What are you looking for?" name="artist2">
            		<button type="submit" class="searchButton">
        			<i class="fa fa-search"></i>
   			</button>
        	</div>
	</form>		
<button class="btn btn-2 btn-2c" type="submit">Let's travel</button>
	</div>

{% endblock %}













